.login-form {
	background: gray;
	margin-top: 50px;
}

.login-form .form-login h4 {
	color: black;
	font-family: Helvetica Neue;
	font-size: 30px;
	font-weight: 500;
	padding-bottom: 25px;
	padding-top: 20px;
	text-align: center;
}
.input-group input, .input-group span {
	background: #333 none repeat scroll 0 0;
	border: medium none;
	box-shadow: none;
	color: white;
	font-size: 30px;
	height: 50px;
}
.input-group input:focus {
	box-shadow: none;
}
.input-group i {
	color: black;
}
.login-form .wrapper {
	text-align: center;
}
.login-form .wrapper .btn {
	background: #333 none repeat scroll 0 0;
	border: medium none;
	border-radius: 0;
	color: white;
	font-size: 25px;
	padding-left: 20px;
	padding-right: 20px;		
}
.login-form .bottom {
	margin-bottom: 0;
}
.login-form .bottom a, .login-form .bottom a:active, .login-form .bottom a:focus, .login-form .bottom a:hover {
	color: black;
}